.helvetica {
  font-family: helvetica, sans-serif;
}

.heroJumbotron {
  background: url('/images/imacDesk2.jpg') no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .heroJumbotron {
    height: 700px;
  }
}

@media (min-width: 1200px) {
  .heroJumbotron {
    height: 1200px;
  }
}
@media (max-width: 414px) {
  #name {
    margin-top: 220px;
  }
}
@media (max-width: 414px) {
  .heroJumbotron {
    background: url('/images/imacDesk.jpg') no-repeat;
    background-size: cover;
    height: 400px;
  }
}
.heroText {
  font-family: 'permanent marker', helvetica, sans-serif;
  color: white;
  margin-top: 50px;
}

#webDev {
  font-family: helvetica, sans-serif;
}

.profilePic {
  margin-top: 20px;
}

.aboutMeJumbotron {
  min-height: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

.aboutMe {
  font-family: 'permanent marker', helvetica, sans-serif;
}

.aboutMeText {
  font-family: helvetica, sans-serif;
}

.profilePic {
  margin-top: 30px;
}

.techJumbotron {
  min-height: 400px;
  background-color: #7B7C81;
  margin-top: 0px;
}
.techHeader {
  font-family: 'permanent marker', helvetica, sans-serif;
  color: white;
}

.logos {
  margin-bottom: -40px;
  padding: 75px 75px 75px 75px;
  margin-top: -20px;
}

.angular {
  margin-top: 15px;
}

.express {
  margin-top: 20px;
}

.logosThree {
  margin-top: 30px;
}

.jade {
  margin-bottom: -10px;
  margin-top: -30px;
}

.jquery {
  margin-bottom: 20px;
}
.github {
 margin-top: -10px;
}

.bootstrap {
  margin-top: -10px;
}

.projectsJumbotron {
  margin-top: -30px;
  min-height: 150px;
  background-color: #111111;
  font-family: 'permanent marker', helvetica, sans-serif;
  color: white;
}

.projectDescription {
  margin-top: 30px;
}

.projectPic {
  margin-top: 20px;
}

.bookRecycleButton {
  margin-top: 25px;
  background-color: #7b7c81;
  color: white;
}

.bookRecycleText {
  padding-top: 10px;
}

.foodGradesText {
  padding-top: 20px;
}
.adsText {
  padding-top: 30px;
}

.ads {
  margin-bottom: 80px;
}

.contactJumbotron {
  min-height: 400px;
  background-color: #7B7C81;
}

.contactHeader {
  font-family: 'permanent marker', helvetica, sans-serif;
}
.contactInfo {
  color: white;
}

.socialLinks {
  margin-top: 30px;
}
.linkedInLink {
  color: black;
  padding-left: -20px;
}

.githubLink {
  color: black;
  margin-left: 80px;
}

.footer {
  margin-top: -30px;
  margin-bottom: -30px;
  background-color: #111111;
  border-color: #111111;
}

.copyright {
  color: white;
  margin-top: 15px
}